*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/build/
*.apk
*.aab
*.keystore
!app/app-release.keystore
__pycache__/
scraper/__pycache__/
scraper/*.pyc
